services:
    _defaults:
        autowire: true
        autoconfigure: true

    con4gis\CoreBundle\Command\ImportCommand:
        public: false
        arguments:
            $framework: '@Contao\CoreBundle\Framework\ContaoFramework'
        tags:
            - console.command

    con4gis\CoreBundle\Controller\ApiController:
        public: true
        class: con4gis\CoreBundle\Controller\ApiController

    con4gis\CoreBundle\Controller\UploadController:
        public: true
        class: con4gis\CoreBundle\Controller\UploadController

    con4gis\CoreBundle\Classes\Service\InjectableStaticService:
        public: true
        class: con4gis\CoreBundle\Classes\Service\InjectableStaticService