.floatR {
	float: right;
}
.floatL {
	float: left;
}

/* links */
#main .c4g_info a:link,
#main .c4g_info a:visited {
	color: #aaa;
}
#main .c4g_info a:hover,
#main .c4g_info a:active,
#main .c4g_info a:focus {
	color: #4577ac;
}

a.c4g_imgLink img {
	display: block;
	margin: 0 auto;
	width: 75px;
	height: 75px;
}
a.c4g_imgLink span {
	display: block;
	margin-top: 2px;
}
a.c4g_imgLink:link,
a.c4g_imgLink:visited {
	display: inline-block;
	margin: 0 15px;
	min-width: 75px;
	min-height: 75px;
	color: #aaa;
	text-align: center;
}
a.c4g_imgLink:hover,
a.c4g_imgLink:active,
a.c4g_imgLink:focus {
	color: #4577ac;
}

/* fieldsets */
.c4g_info fieldset.tl_box > legend {
	color: #4577ac;
	font-weight: bold;
}
.c4g_info fieldset.tl_box > legend:hover {
	color: #2c3e50;
}

/* misc */
.c4g_textblock {
	padding: 18px;
	text-align: justify;
}

.c4g_error,
.c4g_errorblock {
	color: #900;
	font-weight: bold;
}
.c4g_errorblock {
	display: block;
	padding: 2px 5px;

	text-align: justify;

	border-top: 1px solid #900;
	border-bottom: 1px solid #900;
}
.c4g_warning,
.c4g_warningblock {
	color: #c90;
	font-weight: bold;
}
.c4g_warningblock {
	display: block;
	padding: 2px 5px;

	text-align: justify;

	border-top: 1px solid #c90;
	border-bottom: 1px solid #c90;
}
.c4g_success,
.c4g_successblock {
	color: #090;
	font-weight: bold;
}
.c4g_successblock {
	display: block;
	padding: 2px 5px;

	text-align: justify;

	border-top: 1px solid #090;
	border-bottom: 1px solid #090;
}

/* ========================================================================= */

/* header */
#c4g_header {
	position: relative;
	height: 100px;
	color: #eee;
	background: #2c3e50;
}
#c4g_header span.version {
	position: absolute;
	top: 5px;
	right: 5px;
}
#c4g_header span.sub {
	position: absolute;
	bottom: 5px;
	right: 5px;

	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0 0 10px rgba(255,255,255,.5);
	text-shadow: 0 0 1px black;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
@media (max-width: 450px) {
		#c4g_header span.sub {
		font-size: .9em;
	}
}
#c4g_header img {
	margin: 5px 0 0 10px;
	width: 250px;
	height: 90px;
	transition: all 0.5s;
}
@media (max-width: 660px) {
	#c4g_header img {
		margin: 0 0 0 10px;
		width: 222px;
		height: 80px;
	}
}

/* intro */
#c4g_intro {
	padding: 18px;
}
#c4g_intro div {
	padding: 10px;
	/*color: #eee;*/
	background: rgba(44, 62, 80, .3);
}

/* links */
/*#pal_c4g_links ul li {
    padding: 5px;
    margin-bottom: 1px;
    background: rgba(44, 62, 80, .1);
}
#pal_c4g_links ul li a {
    float: right;
}*/
#main #pal_c4g_links a,#main #pal_c4g_support a{
    padding: 5px;
    margin-bottom: 1px;
    display: block;
    background: rgba(44, 62, 80, .1);
}
#main #pal_c4g_links a span, #main #pal_c4g_support a span{
    color: black;
}
#main #pal_c4g_links a:after,#main #pal_c4g_support a:after{
    color: inherit;
    float: right;
    content: attr(href);
}

/* footer */
#c4g_footer {
	padding: 5px 0;
	color: #ddd;
	text-align: center;
	background-color: #2c3e50;
	border-radius: 0 0 2px 2px;

}
#c4g_footer a,#c4g_footer a span,#c4g_footer a:after{
	color: #ddd!important;
}
#c4g_footer a:hover, #c4g_footer a:active, #c4g_footer a:focus{
	color: #ddd!important;
}
