.suggestion-list {
    list-style-type: none;
    margin: 0;
    position: relative;
    border: 1px solid grey;
    border-top: none;
    margin-bottom: 2px;
    z-index: 100;
}

.suggestion-list-item {
    display: block;
    padding: 2px;
}

.suggestion-list-item:hover {
    background-color: lightgrey;
}

.remove-suggestion-btn {
    float: right;
}